<div class="modal">
  <button type="button" class="modal-close-btn">
    <span class="line first modal-close-btn-line"></span>
    <span class="line second modal-close-btn-line"></span>
  </button>
  <div>
    <img class="modal-img" src="{{poster_path}}" alt="{{title}}" class="card__image"/>
  </div>
  <div class="modal-movie-details">
    <h2 class="modal-movie-title">{{title}}</h2>
    <div class="movie-details-table">
      <div class="movie-details-item">
        <p class="movie-details-title">Vote / Votes</p>
        <p class="details-item-info"><span class="modal-vote-avg">{{vote_average}}</span> / <span
            class="modal-vote-count">{{vote_count}}</span></p>
      </div>
      <div class="movie-details-item">
        <p class="movie-details-title">Popularity</p>
        <p class="details-item-info">{{popularity}}</p>
      </div>
      <div class="movie-details-item">
        <p class="movie-details-title">Original Title</p>
        <p class="details-item-info details-item-title">{{original_title}}</p>
      </div>
      <div class="movie-details-item">
        <p class="movie-details-title">Genre</p>
        <p class="details-item-info">{{genres}}</p>
      </div>
    </div>
    <p class="about-movie-title">About</p>
    <p class="about-movie-info">{{overview}}</p>
    <div class="modal-buttons">
      <button class="add-to-watched-btn modal-btn light-theme-btn" id="add-to-watched-btn" type="button">add to
        watched</button>
      <button class="add-to-queue-btn modal-btn light-theme-btn" aria-expanded="true" id="add-to-queue-btn"
        type="button">add to queue</button>
    </div>
  </div>
</div>